
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483949081304'); /* IE9*/
  src: url('iconfont.eot?t=1483949081304#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483949081304') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483949081304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483949081304#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxin:before { content: "\e60b"; }

.icon-gerenzhongxin-xuanzhong:before { content: "\e60c"; }

.icon-zhuye:before { content: "\e60f"; }

.icon-zhuye-xuanzhong:before { content: "\e610"; }

.icon-sousuo:before { content: "\e619"; }

.icon-xiaoxi:before { content: "\e61b"; }

.icon-fanhui:before { content: "\e61c"; }

.icon-shanchu:before { content: "\e61d"; }

.icon-shangpinfenlei:before { content: "\e62f"; }

.icon-remai:before { content: "\e633"; }

.icon-fazhaopian:before { content: "\e63e"; }

.icon-shezhi:before { content: "\e64c"; }

.icon-quxiaoshoucang:before { content: "\e64d"; }

